<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>InputQuery</servlet-name>
        <servlet-class>controller.InputQuery</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InputQuery</servlet-name>
        <url-pattern>/inputQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OutputIndex</servlet-name>
        <servlet-class>controller.OutputIndex</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutputIndex</servlet-name>
        <url-pattern>/outputIndex</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OutputWordIdf</servlet-name>
        <servlet-class>controller.OutputWordIdf</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutputWordIdf</servlet-name>
        <url-pattern>/outputWordIdf</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>OutputQuerySegment</servlet-name>
        <servlet-class>controller.OutputQuerySegment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutputQuerySegment</servlet-name>
        <url-pattern>/segmentQuery</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RemoveQueryPunctuation</servlet-name>
        <servlet-class>controller.RemoveQueryPunctuation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveQueryPunctuation</servlet-name>
        <url-pattern>/removePunctuation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveQueryStopWords</servlet-name>
        <servlet-class>controller.RemoveQueryStopWords</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveQueryStopWords</servlet-name>
        <url-pattern>/removeStopWords</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>OutputQueryTf</servlet-name>
        <servlet-class>controller.OutputQueryTf</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutputQueryTf</servlet-name>
        <url-pattern>/countTf</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>OutputQueryVector</servlet-name>
        <servlet-class>controller.OutputQueryVector</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutputQueryVector</servlet-name>
        <url-pattern>/outputVector</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OutputEveryDocTf</servlet-name>
        <servlet-class>controller.OutputEveryDocTf</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutputEveryDocTf</servlet-name>
        <url-pattern>/outPutEveryDoc_Tf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OutputEveryDocVector</servlet-name>
        <servlet-class>controller.OutputEveryDocVector</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutputEveryDocVector</servlet-name>
        <url-pattern>/outPutEveryDoc_Vector</url-pattern>
    </servlet-mapping>





</web-app>